<html xmlns:th="http://www.thymeleaf.org">
<head>
     <style type="text/css">
        #flot-placeholder{width:350px;height:300px;}        
    </style>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.pureexample.com/js/flot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.min.js"></script>
    <script type="text/javascript">
        function connect() {
        	if ('WebSocket' in window){
        		  console.log('Websocket supported');
        		  var domain = window.location.host+location.pathname.substring(0, location.pathname.lastIndexOf('/'));
        		  socket = new WebSocket('ws://'+domain+'//websocket');

        		  console.log('Connection attempted');

        		  socket.onopen = function(){
        			   console.log('Connection open!');
        			   //setConnected(true);
        			   socket.send(JSON.stringify({ 'message': 'hello server' }));
        			}

        		  socket.onclose = function(){
        			  console.log('Disconnecting connection');
       			  }

        		  socket.onmessage = function (evt) 
        		     { 
        		        var received_msg = evt.data;
        		        console.log(received_msg);
        		        console.log('message received!');
        		        //showMessage(received_msg);
        		     }

        		} else {
        		  console.log('Websocket not supported');
        		}
        }
        function disconnect() {
            setConnected(false);
            console.log("Disconnected");
        }
        connect();
        
        var data = [[1, 130], [2, 40], [3, 80], [4, 160], [5, 159], [6, 370], [7, 330], [8, 350], [9, 370], [10, 400], [11, 330], [12, 350]];
 
        var dataset = [{label: "line1",data: data}];
 
        var options = {
            series: {
                lines: { show: true },
                points: {
                    radius: 3,
                    show: true
                }
            }
        };
 
        $(document).ready(function () {
            $.plot($("#flot-placeholder"), dataset, options);
        });
    </script>
</head>
<body>
    <div id="flot-placeholder"></div>
</body>
</html>